.shop__item {
  display: grid;
  grid-template-columns: 229px auto;
  grid-column-gap: 10px;
  padding: 15px;
  border: 1px solid #e5e5e5;
  background: #fff;
}
.shop__item__image {
  width: 228.33px;
  height: 228.33px;
}
.shop__item__image img {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}
.light--shade {
  color: #999;
}
.shop__item__description {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.shop__item__description__price {
  display: flex;
  flex-direction: row;
  gap: 5px;
}
.shop__item__description__name {
  text-decoration: none;
  font-size: 1rem;
  font-weight: 600;
  text-transform: capitalize;
}
.shop__item__description__text {
  font-size: 0.8125rem;
  color: #222;
  line-height: 1.6em;
  letter-spacing: 0.5px;
}
.shop__item__footer {
  display: flex;
  flex-direction: row;
  gap: 15px;
}
.shop__item__button__box__button {
  font-size: 0.8125rem;
  letter-spacing: 0.5px;
  line-height: normal;
  padding: 8px 15px;
  text-transform: uppercase;
  font-weight: normal;
  font-family: "Poppins", sans-serif;
}
.white__button {
  background-color: #fff;
  color: #666;
  border: 1px solid #d1d1d1;
}
.white__button:hover {
  background: #fdae03;
  border: 1px solid #fdae03;
  color: #fff;
}
