.testimonial-container {
  display: grid;
}
@media only screen and (max-width: 767.98px) {
  .testimonial-container {
    grid-template-columns: 12px 2fr 12px;
  }
}
@media only screen and (min-width: 767.99px) and (max-width: 1199.98px) {
  .testimonial-container {
    grid-template-columns: 1fr 6fr 1fr;
  }
}
@media only screen and (min-width: 1199.99px) {
  .testimonial-container {
    grid-template-columns: 1fr 6fr 1fr;
  }
}

.inner-testimonial-container {
  grid-column: 2/3;
}

.testimonial-box {
  background: #fff;
  border: 1px #e5e5e5 solid;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 767.98px) {
  .testimonial-box {
    padding: 25px 10px 10px;
  }
}
@media only screen and (min-width: 767.99px) and (max-width: 1199.98px) {
  .testimonial-box {
    padding: 45px 10px 30px 10px;
  }
}
@media only screen and (min-width: 1199.99px) {
  .testimonial-box {
    padding: 45px 10px 30px 10px;
  }
}

.inner-testimonial-box {
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-self: center;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.testimonial-pictures-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* gap: 15px; */
}
@media only screen and (max-width: 767.98px) {
  .testimonial-pictures-container {
    gap: 10px;
  }
}
@media only screen and (min-width: 767.99px) and (max-width: 1199.98px) {
  .testimonial-pictures-container {
    gap: 0px;
  }
}
@media only screen and (min-width: 1199.99px) {
  .testimonial-pictures-container {
    gap: 0px;
  }
}

.testimonial-image-box {
  cursor: pointer;
  border: 2px solid #e5e5e5;
  border-radius: 0px;
  opacity: 0.6;
  transition: all 0.4s;
}

@media only screen and (max-width: 767.98px) {
  .testimonial-image-box {
    width: 31px;
    height: 31px;
    transform: scale(1);
  }
}
@media only screen and (min-width: 767.99px) and (max-width: 1199.98px) {
  .testimonial-image-box {
    width: 70px;
    height: 70px;
    transform: scale(0.8);
  }
}
@media only screen and (min-width: 1199.99px) {
  .testimonial-image-box {
    width: 70px;
    height: 70px;
    transform: scale(0.8);
  }
}

.testimonial-active-box img {
  border: 1px solid #bbd615;
  border-radius: 50%;
}

.testimonial-active-box {
  opacity: 1;
  margin-right: 15px;
  margin-left: 15px;
  cursor: pointer;
  transition: all 0.4s;
}
@media only screen and (max-width: 767.98px) {
  .testimonial-active-box {
    transform: scale(2);
    width: 31px;
    height: 31px;
  }
}
@media only screen and (min-width: 767.99px) and (max-width: 1199.98px) {
  .testimonial-active-box {
    transform: scale(1.3);
    width: 70px;
    height: 70px;
  }
}
@media only screen and (min-width: 1199.99px) {
  .testimonial-active-box {
    transform: scale(1.3);
    width: 70px;
    height: 70px;
  }
}

.testimonial-image-box img,
.testimonial-active-box img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}
.testimonial-text-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.testimonial-text-container p {
  font-size: 0.875rem;
  line-height: 24px;
  color: #5c5c5c;
  font-style: normal;
  text-align: center;
}
@media only screen and (max-width: 767.98px) {
  .testimonial-text-container p {
    width: 100%;
    font-size: 0.8125rem;
  }
}
@media only screen and (min-width: 767.99px) and (max-width: 1199.98px) {
  .testimonial-text-container p {
    width: 70%;
    font-size: 0.875rem;
  }
}
@media only screen and (min-width: 1199.99px) {
  .testimonial-text-container p {
    width: 70%;
    font-size: 0.875rem;
  }
}

.testimonial-text-container p::before {
  content: "\f10d";
  font-family: "Font Awesome 5 Free";
  margin-right: 10px;
  font-size: 1.125rem;
  color: #ccc;
  font-weight: 900;
}

.testimonial-text-container p::after {
  content: "\f10e";
  font-family: "Font Awesome 5 Free";
  margin-left: 10px;
  font-size: 1rem;
  color: #ccc;
  font-weight: 900;
}

.testimonial-footer p {
  text-align: center;
}

.testimonial-footer .name {
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 20px;
  color: #fdae03;
  letter-spacing: 0.5px;
  font-style: normal;
}

.testimonial-footer .title {
  font-size: 0.6875rem;
  line-height: 14px;
  font-weight: 400;
  color: #999;
  font-style: normal;
}
