/* .inner-slider-container {
  width: 100%;
} */
.slider-container {
  display: grid;
  transition: all 0.5s;
}
@media only screen and (max-width: 767.98px) {
  .slider-container {
    grid-template-columns: 12px 2fr 12px;
  }
}
@media only screen and (min-width: 767.99px) and (max-width: 1199.98px) {
  .slider-container {
    grid-template-columns: 1fr 6fr 1fr;
  }
}
@media only screen and (min-width: 1199.99px) {
  .slider-container {
    grid-template-columns: 1fr 6fr 1fr;
  }
}

.inner-slider-container {
  grid-column: 2/3;
  position: relative;
  overflow: hidden;
}
@media only screen and (max-width: 767.98px) {
  .inner-slider-container {
    height: 220px;
  }
}
@media only screen and (max-width: 767.99px) and (min-width: 1199.98px) {
  .inner-slider-container {
    height: 500px;
  }
}
@media only screen and (min-width: 1199.99px) {
  .inner-slider-container {
    height: 500px;
  }
}
article {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100%;
  height: 100%;
  opacity: 0;
  /* display: none; */
  transition: all 0.3s linear;
}
@media only screen and (max-width: 767.98px) {
  article {
    width: 100%;
    height: 220px;
  }
}
@media only screen and (max-width: 767.99px) and (min-width: 1199.98px) {
  article {
    width: auto;
    height: 500px;
  }
}
@media only screen and (min-width: 1199.99px) {
  article {
    width: auto;
    height: 500px;
  }
}
article.activeSlide {
  /* display: flex; */
  opacity: 1;
  transform: translateX(0);
}
article.lastSlide {
  transform: translateX(-100%);
}
article.nextSlide {
  transform: translateX(100%);
}
article img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.arrow-left,
.arrow-right {
  height: 45px;
  width: 40px;
  background-color: #666;
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrow-right:hover,
.arrow-left:hover {
  background-color: #fdae03;
}

.arrow-left i,
.arrow-right i {
  font-size: 1.4rem;
  line-height: 44px;
  color: white;
}

.arrow-left {
  position: absolute;
  left: 0;
  top: 50%;
}

.arrow-right {
  position: absolute;
  right: 0;
  top: 50%;
}
.slider-button {
  display: block;
  transition: all 0s ease 0s;
  font-weight: 600;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 1.5px;
  border: 1px #44a23d solid;
  background-color: #44a23d;
  border-radius: 3px;
  width: auto;
}

@media only screen and (max-width: 767.98px) {
  .slider-button {
    font-size: 0.625rem;
    padding: 10px 12px;
    line-height: 4px;
  }
}
@media only screen and (max-width: 767.99px) and (min-width: 1199.98px) {
  .slider-button {
    font-size: 0.8125rem;
    padding: 8px 20px;
    line-height: 18px;
  }
}

@media only screen and (min-width: 1199.99px) {
  .slider-button {
    font-size: 0.8125rem;
    padding: 8px 20px;
    line-height: 18px;
  }
}
.slider-button:hover {
  background: #fdae03;
  color: #fff;
  border: 1px #fdae03 solid;
}
.slider-info {
  font-weight: 900;
  color: #fff;
  text-decoration: none;
  background-color: transparent;
  text-align: left;
  letter-spacing: normal;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
}
@media only screen and (max-width: 767.98px) {
  .slider-info {
    font-size: 1.25rem;
    line-height: 19px;
  }
}
@media only screen and (max-width: 767.99px) and (min-width: 1199.98px) {
  .slider-info {
    font-size: 3.75rem;
    line-height: 60px;
  }
}

@media only screen and (min-width: 1199.99px) {
  .slider-info {
    font-size: 3.75rem;
    line-height: 60px;
  }
}
.slider-title {
  border-bottom: 3px #eee double;
  text-transform: uppercase;
  letter-spacing: 5px;
  transition: all 0s ease 0s;
  line-height: 40px;
  letter-spacing: 5px;
  color: #eee;
}
@media only screen and (max-width: 767.98px) {
  .slider-title {
    font-size: 0.5rem;
    line-height: 12px;
    width: 250px;
  }
}
@media only screen and (max-width: 767.99px) and (min-width: 1199.98px) {
  .slider-title {
    font-size: 0.75rem;
    line-height: 40px;
    width: 250px;
  }
}

@media only screen and (min-width: 1199.99px) {
  .slider-title {
    font-size: 0.75rem;
    line-height: 40px;
    width: 300px;
  }
}
.slider-semi-info {
  line-height: 20px;
  font-weight: normal;
  text-transform: none;
  color: #eee;
  text-align: left;
}

@media only screen and (max-width: 767.98px) {
  .slider-semi-info {
    font-size: 0.5rem;
    line-height: 6px;
  }
}
@media only screen and (max-width: 767.99px) and (min-width: 1199.98px) {
  .slider-semi-info {
    font-size: 0.8125rem;
    line-height: 20px;
  }
}
@media only screen and (min-width: 1199.99px) {
  .slider-semi-info {
    font-size: 0.8125rem;
    line-height: 20px;
  }
}

.slider-info-container {
  display: grid;
  grid-template-rows: repeat(4, auto);
  position: absolute;
  left: 7%;
  top: 25%;
  grid-row-gap: 15px;
}

@media only screen and (max-width: 767.98px) {
  .slider-button-container {
    margin-top: 13px;
  }
}
@media only screen and (max-width: 767.99px) and (min-width: 1199.98px) {
  .slider-button-container {
    margin-top: 25px;
  }
}

@media only screen and (min-width: 1199.99px) {
  .slider-button-container {
    margin-top: 25px;
  }
}
